In [1]:
#1
print("Hello")

Hello

In [10]:
#2
for i in range(0,5):
    for j in range(0,5-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [14]:
#3
print('A\nB\nC')

A
B
C

In [15]:
#4
a = "preeti"
type(a)

str

In [16]:
b = 5
type(b)

int

In [17]:
c = 6.9
type(c)

float

In [20]:
d=True
type(d)

bool

In [22]:
#5
comp_var = 5+3j
type(comp_var)

complex

In [23]:
#6
f = 23.45
int(f)

23

In [24]:
#7
num = 56
str(num)

'56'

In [25]:
#8
145*354-1345/45+(462+23)/3

51461.777777777774

In [26]:
#9
print(1353 + 234)

1587

In [27]:
print(2355 - 346)

2009

In [28]:
print(234 * 457)

106938

In [29]:
print(25 / 6)

4.166666666666667

In [30]:
print(25 % 6)

1

In [31]:
print(33 ** 4)

1185921

In [32]:
print(45 // 6)

7

In [33]:
print(2 ** 10)

1024

In [38]:
#10
height = float(input("Enter the height of person in cm:"))
weight = float(input("Enter the weight of person in kg:"))
BMI = weight / (height / 100)**2
print("BMI is:",BMI)

Enter the height of person in cm:155
Enter the weight of person in kg:55
BMI is: 22.892819979188342

In [39]:
#11
(54+34)* 45 == (0.9*2432)/0.9

False

In [42]:
#12
first_name = "preeti"
last_name = "Bharti"
concat = first_name + last_name
print(concat)

preetiBharti

In [1]:
#13
num = 34
string ='How old are you?'
print(str(num) + string)

34How old are you?

In [46]:
#14
num = 5
for i in range(1,11):
    print(num,"*",i,"=",num * i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [47]:
#15
n_terms = 10
 
n_1 = 0  
n_2 = 1  
count = 0  
  
if n_terms <= 0:  
    print ("Please enter a positive integer, the given number is not valid")  

elif n_terms == 1:  
    print ("The Fibonacci series of the numbers up to", n_terms, ": ")  
    print(n_1)   
else:  
    print ("The fibonacci series of the numbers is:")  
    while count < n_terms:  
        print(n_1)  
        nth = n_1 + n_2  
       
        n_1 = n_2  
        n_2 = nth  
        count += 1

The fibonacci series of the numbers is:
0
1
1
2
3
5
8
13
21
34

In [48]:
#16
num_1 = 56
num_2 = 45
if (num_1>num_2):
    print("Greater = ", num_1)

Greater =  56

In [55]:
#17
num = int(input("Enter a number:"))
if (num % 7 == 0):
    print(num,"is divisible by 7")
else:
    print(num,"is not divisible by 7")

Enter a number:65
65 is not divisible by 7

In [3]:
#18
num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [5]:
#19
a = int(input("Enter an input number:"))  
if a > 1:  
    for j in range(2, int(a/2) + 1):    
        if (a % j) == 0:  
            print(a, "is not a prime number")  
            break  
    else:  
        print(a, "is a prime number")  
else:  
        print(a, "is not a prime number")

Enter an input number:6
6 is not a prime number

# Exercise2

In [6]:
#1
str = "country india"
len(str)

13

In [7]:
str[0:2]

'co'

In [8]:
#2
my_str = 'Today is a sunny day.'
my_str[0:5] + " " + my_str[11:16]

'Today sunny'

In [11]:
my_str[18:20]

'ay'

In [13]:
my_str[-3:-1]

'ay'

In [14]:
my_str[::-1]

'.yad ynnus a si yadoT'

In [15]:
#3
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']

In [16]:
len(mix_list_1)

5

In [18]:
24 in mix_list_1

True

In [19]:
mix_list_1 + mix_list_2

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

In [20]:
mix_list_2 * 3

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

In [23]:
#4
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]
[x*y for x,y in zip(num_list_1,num_list_2)]

[0, 10, 6, 4]

In [24]:
#5
mix_list = ['Python', 1, 2, 3, 'Data', True]

In [25]:
mix_list[0]

'Python'

In [26]:
mix_list[-2]

'Data'

In [28]:
mix_list[0:3]

['Python', 1, 2]

In [29]:
mix_list[0::2]

['Python', 2, 'Data']

In [1]:
#6
num_list = [4, 5, 7, -2, 0, 1]

In [2]:
min(num_list)

-2

In [224]:
max(num_list)

7

In [3]:
num_list.sort()
print(num_list)

[-2, 0, 1, 4, 5, 7]

In [4]:
sorted(num_list)

[-2, 0, 1, 4, 5, 7]

In [8]:
num_list.copy()

[-2, 0, 1, 4, 7]

In [7]:
num_list.remove(5)

ValueError: list.remove(x): x not in list

In [69]:
#7
languages_list = ['R', 'Python', 'C', 'Java']

In [71]:
languages_list.append('Data')
print(languages_list)

['R', 'Python', 'C', 'Java', 'Data', 'Data']

In [72]:
languages_list.extend(['Excel','Data'])
print(languages_list)

['R', 'Python', 'C', 'Java', 'Data', 'Data', 'Excel', 'Data']

In [75]:
languages_list[2] = 'C++'
print(languages_list)

['R', 'Python', 'C++', 'Java', 'Data', 'Data', 'Excel', 'Data']

In [79]:
#8
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [82]:
seasons_list.count('Winter')

3

In [83]:
seasons_list.count('Summer')

4

In [84]:
seasons_list.count('Spring')

4

In [85]:
#9
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2

In [86]:
len(num_tuple)

3

In [87]:
num_tuple + mix_tuple

(4, 4, 8, 'John', 5, -2)

In [88]:
mix_tuple * 2

('John', 5, -2, 'John', 5, -2)

In [89]:
#10
mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [103]:
new_tuple = list(mix_tuple)
new_tuple.append(4)
print(new_tuple)

[['a', 1, True], 2, 'Science', -5, 4]

In [105]:
#11
mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [235]:
new_tuple = list(mix_tuple)
new_tuple[1] = 3
print(new_tuple)

[['a', 1, False], 3, 'Science', -5]

In [107]:
new_tuple[0][2] = False
print(new_tuple)

[['a', 1, False], 3, 'Science', -5]

In [236]:
#12
num_set = {1, 2, 3, 4, 5, 6}

In [237]:
num_set.add(7)
print(num_set)

{1, 2, 3, 4, 5, 6, 7}

In [238]:
num_set.remove(3)
print(num_set)

{1, 2, 4, 5, 6, 7}

In [130]:
num_set.clear()
print(num_set)

set()

In [131]:
#13
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science'

In [143]:
set_1 = {'We','shall','analyse','the','data','using','python'}
set_2 = {'Python','for','data','science'}

In [185]:
print(len(set_1))

7

In [186]:
print(len(set_2))

4

In [163]:
print(set_1.intersection(set_2))

{'data'}

In [162]:
print(set_1.symmetric_difference(set_2))

{'shall', 'using', 'for', 'the', 'We', 'science', 'Python', 'analyse', 'python'}

In [138]:
#14
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

In [139]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

In [140]:
A.intersection(B)

{3, 5, 6, 7}

In [144]:
A.difference(B)

{1, 2, 4, 40, 71, 87}

In [145]:
B.difference(A)

{8, 42, 51, 54}

In [146]:
A.symmetric_difference(B)

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

In [150]:
#15
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary[4] = 16
print(square_dictionary)

{1: 1, 2: 4, 3: 9, 4: 16}

In [153]:
#16
mix_dictionary = {0:3, 'x':5, 1:2}
keys = mix_dictionary.keys()
print(keys)
values = mix_dictionary.values()
print(values)

dict_keys([0, 'x', 1])
dict_values([3, 5, 2])

In [157]:
#17
emp_dictionary = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
val = emp_dictionary.get('Age')
print(val)

27

In [158]:
#18
#key = ['a','b','c','d']
#value = [1, 2, 3, 4]
my_dict = {}
my_dict['a'] = 1
my_dict['b'] = 2
my_dict['c'] = 3
my_dict['d'] = 4
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [159]:
#19
emp_record = {'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record['Country'] = 'India'
print(emp_record)

{'Emp_ID': 'ES001', 'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA', 'Country': 'India'}

# Exercise3

In [164]:
#1
num = int(input("Enter a number:"))
if (num % 7 == 0):
    print(num,"is multiple of 7")
else:
    print(num,"is not multiple of 7")

Enter a number:49
49 is multiple of 7

In [170]:
#2
num_1 = float(input("Enter a number:"))
num_2 = float(input("Enter a number:"))
if (num_1>num_2):
    print("Maximum = ", num_1)
else:
     print("Maximum = ", num_2)

Enter a number:45
Enter a number:67
Maximum =  67.0

In [169]:
#3
num = float(input("Enter a number:"))
if num > 0:
    print(num, "is Positive")
elif num < 0:
    print(num, "is Negative")
else:
    print(num, "is Zero")

Enter a number:0
0.0 is Zero

In [171]:
#10
x=int(input("Enter first number:"))
y=int(input("Enter second number:"))
sum1=0
sum2=0
for i in range(1,x):
    if x%i==0:
        sum1+=i
for j in range(1,y):
    if y%j==0:
        sum2+=j
if(sum1==y and sum2==x):
    print('Amicable!')
else:
    print('Not Amicable!')

Enter first number:34
Enter second number:56
Not Amicable!

In [173]:
#11
str = input("Enter a string")
str_1 = ""   
for i in str:  
    str_1 = i + str_1  
print(str_1)

Enter a stringpreeti
iteerp

In [174]:
#12
n=int(input("Enter the number of elements to be inserted: "))
a=[]
for i in range(0,n):
    elem=int(input("Enter element: "))
    a.append(elem)
avg=sum(a)/n
print("Average of elements in the list",round(avg,2))

Enter the number of elements to be inserted: 3
Enter element: 3
Enter element: 6
Enter element: 9
Average of elements in the list 6.0

In [175]:
#13
PI = 3.14
r = float(input("Enter the radius of the circle:"))
area = PI * r * r
print("Area of circle =",area)

Enter the radius of the circle:6
Area of circle = 113.03999999999999

In [176]:
#14
P = float(input("Enter the principal amount : "))
N = float(input("Enter the number of years : "))
R = float(input("Enter the rate of interest : "))
SI = (P * N * R)/100
print("Simple interest = {}".format(SI))

Enter the principal amount : 500
Enter the number of years : 3
Enter the rate of interest : 15
Simple interest = 225.0

In [178]:
#15
lst = [x**0.5 for x in range(1,11)]
print(lst)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [187]:
#16
str_list = input("Enter a sentence:")
str_list = [for x in str_list if str_list[x] == 'a' or 'A'  or 'e' or 'E' or 'i' or 'I' or 'o' or 'O' or 'u' or 'U'
            print(number_list)

SyntaxError: invalid syntax (Temp/ipykernel_11340/389902764.py, line 3)

In [210]:
#17
dictOfNames = {1:'Aman', 2:'Mohit', 3:'Gauri', 4:'Imran', 5:'Roma'}
newDict = {key:value for (key,value) in dictOfNames.items() if key % 2 == 0}
print(newDict)

{2: 'Mohit', 4: 'Imran'}

In [192]:
#18
even_lst = [x for x in range(20) if x % 2 == 0]
print("even_lst =", even_lst )
odd_lst = [x for x in range(20) if x % 2 != 0]
print("odd_lst = ",odd_lst)

even_lst = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
odd_lst =  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [195]:
#19
lst = [x for x in range(1,100) if x % 2 == 0 and x % 3 == 0]
print(lst)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [201]:
#20
new_dict_comp = {n:n**3 for n in range(1,11)}
print(new_dict_comp)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [203]:
#21
string = input("Enter a string:")
lst = [x for x in string]
print(lst)

Enter a string:preeti
['p', 'r', 'e', 'e', 't', 'i']

In [204]:
#23
M = [[1,2],
     [3,4],
     [5,6],
     [7,8]]
MT = [[row[i] for row in M] for i in range(2)]
print(MT)

[[1, 3, 5, 7], [2, 4, 6, 8]]

# Exercise4

In [215]:
154 + (10**2)/2*25-1303.75

100.25

In [216]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [221]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

In [223]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [10]:
import numpy
numpy.__version__

'1.20.3'